{% extends "template.html" %} {% block navbar %} {% include "navbar.html" %} {% endblock %} {% block content %}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-6">
                    <h3>
                        Grafik Kunjungan</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a>
                        </li>
                        <li class="breadcrumb-item">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center text-bold">KUNJUNGAN WISATAWAN LOKAL</div>
                        <h4 class="text-center"></h4>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center text-bold">KUNJUNGAN WISATAWAN MANCA-NEGARA</div>
                        <h4 class="text-center"></h4>
                        <canvas id="mancaChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-center">WISATAWAN LOKAL PALING BANYAK</h6>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="text-center">Dalam 1 bulan</p>
                                <canvas id="mostlocal1"></canvas>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center">Dalam 6 bulan</p>
                                <canvas id="mostlocal6"></canvas>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center">Dalam 1 tahun</p>
                                <canvas id="mostlocal12"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-center">WISATAWAN MANCANEGARA PALING BANYAK</h6>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="text-center">Dalam 1 bulan</p>
                                <canvas id="mostmanca1"></canvas>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center">Dalam 6 bulan</p>
                                <canvas id="mostmanca6"></canvas>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center">Dalam 1 tahun</p>
                                <canvas id="mostmanca12"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
{% endblock %} {% block js %} {% include "auth.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.js"></script>

<!-- chart -->
<script>
    var canvas = document.getElementById('myChart');
    var manca = document.getElementById('mancaChart');
    var mostlocal1 = document.getElementById('mostlocal1');
    var mostlocal6 = document.getElementById('mostlocal6');
    var mostlocal12 = document.getElementById('mostlocal12');
    new Chart(canvas, {
        type: 'line',
        data: {
            labels: ['Jan 2020', 'Feb 2020', 'Mar 2020', 'Apr 2020', 'May 2020', 'Jun 2020', 'Jul 2020'],
            datasets: [{
                label: 'Kunjungan',
                // yAxisID: 'A',
                data: [822022, 373231, 441072, 768753, 345669],
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgba(255, 99, 132, 0.2)',
            }, {
                label: 'Peramalan',
                // yAxisID: 'B',
                data: [824022, 372231, 431072, 768453, 347669, 377669, 547669],
                backgroundColor: 'rgb(122, 99, 255)',
                borderColor: 'rgba(102, 99, 255, 0.2)',
            }]
        },
    });
    new Chart(manca, {
        type: 'line',
        data: {
            labels: ['Jan 2020', 'Feb 2020', 'Mar 2020', 'Apr 2020', 'May 2020', 'Jun 2020', 'Jul 2020'],
            datasets: [{
                label: 'Kunjungan',
                // yAxisID: 'A',
                data: [822022, 373231, 441072, 768753, 345669],
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgba(255, 99, 132, 0.2)',
            }, {
                label: 'Peramalan',
                // yAxisID: 'B',
                data: [824022, 372231, 431072, 768453, 347669, 377669, 547669],
                backgroundColor: 'rgb(122, 99, 255)',
                borderColor: 'rgba(102, 99, 255, 0.2)',
            }]
        },
    });

    new Chart(mostlocal1, {
        type: 'pie',
        data: {
            labels: ['Banyuwangi', 'Pasuruan', 'Probolinggo', 'Jember', 'lainnya'],
            datasets: [{
                label: 'Lokasi pengunjung',
                // yAxisID: 'A',
                data: [822022, 373231, 441072, 768753, 345669],
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                borderColor: 'rgba(255, 99, 132, 0.2)',

            }]
        },
    });

    new Chart(mostlocal6, {
        type: 'pie',
        data: {
            labels: ['Banyuwangi', 'Pasuruan', 'Probolinggo', 'Jember', 'lainnya'],
            datasets: [{
                label: 'Lokasi pengunjung',
                // yAxisID: 'A',
                data: [822022, 373231, 441072, 768753, 345669],
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                borderColor: 'rgba(255, 99, 132, 0.2)',

            }]
        },
    });

    new Chart(mostlocal12, {
        type: 'pie',
        data: {
            labels: ['Banyuwangi', 'Pasuruan', 'Probolinggo', 'Jember', 'lainnya'],
            datasets: [{
                label: 'Lokasi pengunjung',
                // yAxisID: 'A',
                data: [822022, 373231, 441072, 768753, 345669],
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                borderColor: 'rgba(255, 99, 132, 0.2)',

            }]
        },
    });

    new Chart(document.getElementById("mostmanca1"), {
        type: 'doughnut',
        data: {
            labels: ["Africa", "Asia", "Europe", "Latin America", "Lainnya"],
            datasets: [{
                label: "Population (millions)",
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                data: [2478, 5267, 734, 784, 433]
            }]
        }
    });

    new Chart(document.getElementById("mostmanca6"), {
        type: 'doughnut',
        data: {
            labels: ["Africa", "Asia", "Europe", "Latin America", "Lainnya"],
            datasets: [{
                label: "Population (millions)",
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                data: [2478, 5267, 734, 784, 433]
            }]
        }
    });

    new Chart(document.getElementById("mostmanca12"), {
        type: 'doughnut',
        data: {
            labels: ["Africa", "Asia", "Europe", "Latin America", "Lainnya"],
            datasets: [{
                label: "Population (millions)",
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                data: [2478, 5267, 734, 784, 433]
            }]
        }
    });
</script>
{% endblock %}