{% extends "template.html" %} {% block navbar %} {% include "navbar.html" %} {% endblock %} {% block content %}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-6">
                    <h3>
                        Destinasi Wisata</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a>
                        </li>
                        <li class="breadcrumb-item">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>List Wisata</h5><span>List data pariwisata yang terdaftar pada sistem</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Foto</th>
                                        <th scope="col">Nama</th>
                                        <th scope="col">Lokasi</th>
                                        <th scope="col">Tiket lokal</th>
                                        <th scope="col">Tiket manca</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="wisata">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
{% endblock %} 

{% block js %}
<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js" integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp" crossorigin="anonymous"></script>
<script>
    $(document).ready(() => {
        var skip = 0;
        var take = 50;
        show()

        function show() {
            $.ajax({
                method: "get",
                url: source + 'place/' + skip + '/' + take,
                data: {
                    'header': token
                },
                dataType: "Json",
                success: function(data, textStatus, jqXHR) {
                    var place = data['data']
                    $.each(place, (index, value) => {
                        if (value.active == 1) {
                            var status = `<p class="text-success"><i class="fa-solid fa-circle-check"></i> Aktif</p>`;

                        } else {
                            var status = `<p class="text-danger"><i class="fa-solid fa-circle-xmark"></i> Nonaktif</p>`;
                        }

                        if (value.image == null) {
                            var image = `<img src="https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png" alt="foto wisata" sizes="40" style="width:100px; object-fit: cover;">`
                        } else {
                            var image = `<img src="` +protocol+domain+'storage'+ value.image.split("public")[1] + `" alt="foto wisata" style="width:100px; object-fit: cover;">`
                        }
                        var wisata = `<tr>
                                        <td>` + image + `</td>
                                        <td>` + value.name + `</td>
                                        <td>` + value.location + `</td>
                                        <td> Rp.` + value.fee_local + `</td>
                                        <td> Rp.` + value.fee_inter + `</td>
                                        <td>` + status + `</td>
                                        <td>
                                            <button id="edit" val="` + value.id + `" class="btn btn-primary text-white"><i class="fa-solid fa-pen"></i></button>
                                            <button id="delete" val="` + value.id + `" class="btn btn-danger text-white"><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>`
                        $("#wisata").append(wisata)
                    })

                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert('error :' + textStatus);
                    console.log(errorThrown);
                    if(jqXHR.status ==401){
                        keluar()
                    }
                }
            })
        }
    })
</script>
{% include "auth.html" %}
{% endblock %}